<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> -
                <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quos quis dolore alias
                 aliquid blanditiis perferendis libero porro, sequi ipsa repellendus esse ex pariatur 
                 sapiente deleniti mollitia velit, consequatur dolor.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> -
                <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quos quis dolore alias
                 aliquid blanditiis perferendis libero porro, sequi ipsa repellendus esse ex pariatur 
                 sapiente deleniti mollitia velit, consequatur dolor.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> -
                <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quos quis dolore alias
                 aliquid blanditiis perferendis libero porro, sequi ipsa repellendus esse ex pariatur 
                 sapiente deleniti mollitia velit, consequatur dolor.</p>
        </ul>


    </div>

</div>
